.packages-card {
    flex: 1 1 0;
    background-color: #EAEAEA;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 480px;

    .packages-card__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;

        .packages-card__name {
            color: #1F2937;
            font-weight: 700;
            font-size: 20px;
        }

        .packages-card__badge {
            background-color: #FFFFFF;
            padding: 5px 18px;
            font-size: 13px;
            font-weight: 700;
            border-radius: 30px;
        }
    }

    .packages-card__body {
        margin-top: 13px;
        flex: 1;
        display: flex;
        flex-direction: column;

        .packages-card__tax-price {
            color: #6B7280;
            font-size: 14.5px;
            font-weight: 400;
        }

        .packages-card__prices {
            margin-top: 18px;

            .packages-card__discounted-price {
                position: relative;
                color: #019042;
                font-size: 26px;
                font-weight: 700;

                .packages-card__price-period {
                    color: #019042;
                    font-size: 14.5px;
                    font-weight: 400;
                    margin-left: 5px;
                }

                .packages-card__original-price {
                    position: absolute;
                    top: -6px;
                    right: -45px;
                    color: #EF4444;
                    font-size: 12.5px;
                    font-weight: 600;
                    text-decoration: line-through;
                }
            }
        }

        .packages-card__duration {
            color: #6B7280;
            font-size: 13.5px;
            font-weight: 400;
            display: block;
            margin-top: 22px;
        }

        .packages-card__text-box {
            resize: none;
            border: none;
            outline: none;
            color: #4b5563;
            background-color: #f9fafb;
            border-radius: 8px;
            padding: 14px;
            margin-top: 14px;
            width: 100%;
            height: 100%;
            overflow: auto;
            flex-shrink: 1;

            &::placeholder {
                color: #4B5563;
            }
        }
    }

    .packages-card__footer {
        margin-top: 18px;

        .packages-card__subscribe-btn {
            color: #ffffff;
            background-color: #019042;
            border: none;
            border-radius: 8px;
            padding: 17px;
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.silver {
    .packages-card__badge {
        color: #4B5563;
    }
}

.gold {
    .packages-card__badge {
        color: #A16207;
    }
}

.platinum {
    .packages-card__badge {
        color: #4338CA;
    }
}