.newsEvents {
    margin-top: 80px;

    &InsightHeaderTitle {
        text-align: center;
        width: fit-content;
        border: 3px solid #01F595;
        padding: 12px 22px;
        border-radius: 5px;

        h1 {
            color: #01F595;
            font-size: 35px;
            font-weight: 600;
        }
    }
}

.newsEventsArticleContainer {
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
    padding: 0 7vw;
    box-sizing: border-box;
}

.carouselWrapper {
    position: relative;
    width: 100%;
    overflow: visible;
}

.carouselTrack {
    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;
    align-items: stretch;
}

.carouselTrackReverse {
    display: flex;
    width: max-content;
    animation: scroll-right 15s linear infinite;
    align-items: stretch;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.newsEventsArticleItem {
    flex: 0 0 42vw;
    min-width: 42vw;
    max-width: 42vw;
    margin: 0 1vw;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
}

.newsEventsArticleCard {
    border: 2px solid #939393;
    border-radius: 10px;
    display: flex;
    background: #181818;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 2px 16px 0 #00000033;

    .newsEventsArticleCardImage {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .newsEventsArticleCardContent {
        width: 60%;
        padding: 18px 14px;
        display: flex;
        align-items: center;

        .cardDescription {
            font-size: 14.5px;
            line-height: 22px;
            color: #fff;
        }
    }
}

.highlightedText {
    color: #01F595;
}