@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.forum-layout {
    width: 100%;
    font-family: 'Poppins', sans-serif;

    &__section-title {
        background: #dc2626;
        color: #ffffff;
        padding: 8px 20px;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        transform: skew(-20deg);
        border: 1px solid #FFFFFF;

        span {
            display: inline-block;
            transform: skew(20deg);
        }
    }

    &__posts {
        width: calc(100% - 1.5px);
        background-color: #FFFFFF;
        padding: 20px;
        border-top: 4px solid #9e0000;
        margin-left: -7px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}