@import "../styles/mixins.scss";

.heroSectionAsideNav {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    @include mobile {
        gap: 1.5rem;
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}