@import "../styles/mixins.scss";

.heroSectionContentSecondaryText {
    text-align: center;
    color: #ffffff;
    margin-top: 2.2rem; // 22px
    font-size: 1.7rem; // 17px
    line-height: 2.8rem; // 28px
    padding: 0 5rem; // 50px horizontal padding

    /* Responsive adjustments */
    @include tablet {
        font-size: 1.6rem;
        line-height: 2.6rem;
        padding: 0 3rem;
        margin-top: 2rem;
    }

    @include mobile {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 0 1rem;
        margin-top: 1.5rem;
    }

    .heroSectionSecondaryHighlightText {
        color: #16ff7f;
    }
}