@import "../styles/mixins.scss";

.heroSection {
    display: flex;
    margin-top: 2.5rem;

    @include tablet {
        flex-direction: column;
        margin-top: 2rem;
    }

    @include mobile {
        margin-top: 1.5rem;
    }

    .heroSectionAside {
        width: 15%;

        @include tablet {
            width: 100%;
            order: 2;
            margin-top: 3rem;
        }

        @include mobile {
            margin-top: 2rem;
        }
    }

    .heroSectionContent {
        width: 85%;

        @include tablet {
            width: 100%;
            order: 1;
        }
    }
}