.heroSectionContentSecondaryText {
    text-align: center;
    color: #ffffff;
    margin-top: 22px;
    font-size: 17px;
    line-height: 28px;
    padding: 0px 50px;

    .heroSectionSecondaryHighlightText {
        color: #16ff7f
    }
}