.heroSection {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 55px;

    .heroSectionAside {
        width: 15vw;
    }

    .heroSectionContent {
        width: 85%;
    }
}