.heroSectionAsideButton {
    background: none;
    border: 2px solid #009D47;
    padding: 10px 17.5px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: left;

    .heroSectionAsideButtonText {
        font-size: 14px;
        font-weight: 600;
    }
}